{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["prettier", "jest"],
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "semi": false,
      "trailingComma": "all"
    }]
  },
  "env": {
    "jest/globals": true
  }
}
